a {
  color: #11999E;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 1;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}
p{
  line-height: 2;
}
.top-container {
  background-color: #CDF0EA;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  font-weight: bold;
}

.bottom-container {
  background-color: #66BFBF;
  line-height: 2;
  padding: 20px;
}

.cloud-2 {
  position: absolute;
  left: 350px;
  bottom: 400px;
}

.cloud-1 {
  position: absolute;
  right: 400px;
  top: 40px;
}

.mountain {
  height: 500px;
  width: 700px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  font-size: 50%;
}

.skills{
  margin: 90px auto 90px auto;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ball-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile {
  font-size: 50%;
  margin: 60px auto 90px auto;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-me {
  font-size: 50%;
  margin: 60px auto 60px auto;
  line-height: 2
}

.contact-p{
  width: 30%;
  margin: auto auto 30px auto;

}

.copyright {
  font-size: 0.75rem;
  color: #EAF6F6;
}

.img {
  height: 15%;
  width: 15%;
}

hr {
  border: dotted #7F8487 6px;
  border-top-style: none;
  width: 4%;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(top bottom, #11cdd4, #11999e);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 22px;
  padding: 8px 26px 8px 26px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(top bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
